<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>dasbord</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>

    <link rel="stylesheet" href="{% static 'css/style.css'%} ">
</head>

<body>
    <div class="head">
        <h1>Company project management</h1>
        {% if messages %}
        {% for msg in messages %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>!</strong>{{msg}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>


        {% endfor%}
        {% endif %}
    </div>


    <div class="app">
        <h1>Quest tracker</h1>

        <a id="ceo" onclick="openpop()" class="btn">CEO LOGIN</a>
        <!--onclick="man()"-->
        <a id="man" class="btn">Manager LOGIN</a>
        <a href="#" class="btn">Team Leader LOGIN</a>
        <a href="#" class="btn">Team Member LOGIN</a>
    </div>
    <!-- ========== Start ceo login ========== -->

    <form method="post" class="form1" id="frm">
        {% csrf_token %}



        <h5>CEO Login</h5>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">

        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" name="password" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        <button type="close" onclick="closepop()" id="close" class="btn btn1 btn-primary">close</button>
    </form>

    <form method="post" class="form2" id="frm2">
        {% csrf_token %}



        <h5>Manager Login</h5>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">

        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" name="password" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        <button type="close" onclick="closepop()" id="close" class="btn btn1 btn-primary">close</button>
    </form>

    <!-- ========== End login ========== -->
    <script src="{% static 'js/index.js'%}"></script>
</body>

</html>